body{
    background-color: rgb(238, 238, 238);
    display: flex;  
    justify-content: center;
 
}
div.card{
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 4px 14px 2px rgba(0,0,0,0.53);
   position: absolute;
   top:50%;
   max-width: 300px;
   
   
}
p,h1{
    margin-left: 10px;
    margin-top: 10px;
}
