html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}





.card{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    box-shadow: -2px -1px 16px -3px rgba(0,0,0,0.74);;
    flex-basis: 30%;
     padding: 1em;
     align-self: center;
    vertical-align: middle;
}
body{
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}